	<!-- <div>
		{{$ctrl.myName}}
		
		<p ng-repeat= "member in $ctrl.band">{{member}}</p>
  		
    <ul>
      <li ng-repeat="member in $ctrl.band">{{member.name}} plays {{member.role}}</li>
    </ul>
    

    <h1>My first Angular compontent</h1>

    <button
  	</div>
     -->
     <!--   <input type="text" ng-model"$ctrl.newName"/>
      <button ng-click ="$ctrl.addName()">submit</button> -->
    <div>
      <h1 ng-repeat="name in $ctrl.family">
        Name: {{name.name}}<br>
        Relation: {{name.relation}}<br>
        Age: {{name.age}}
      </h1>

    </div>